@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100&family=Roboto:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f8; 
    font-family: 'Roboto',sans-serif;
}
section.chat_section{
    width: 800px;
    border-radius: 15px;
    max-width: 90%;
    background-image:url(./background.jpg);
    background-repeat: no-repeat;
    
    box-shadow: 0 10px 15px --3px rgb(rgb(249, 249, 249), green, blue);
}
.brand{
    padding: 20px;
    background:#59c520e8;
    display: flex;
    align-items: center;
border-radius: 20px 35px 20px;
}
img{
    border-radius:  15px 15px 15px;
}
.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin: left 10px; 
}
.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;  
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background-color: #fbfbfb;
}
.message{
    padding: 20px;
    border-radius:15px 15px 5px 10px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
h4{
    color:#ffffffd6;
    font:-webkit-mini-control;
    
}
p{
    font:icon
}
.incoming{
    background: #65eb73;
    color: #131111;
}
.outgoing{
    background: #e9eafd;
    color:#788678;
    margin-left: auto;
}
.message h4{
    position: absolute;
    top: -20px;
    left: 0;
}
textarea{
    border-radius: 15px;
   background:rgb(222 222 162)
}